<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/lilkita">Krista</a>
  </p>
  <br />
  <p>
    This is my first attempt at building an app. It's been fun. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>


  <div class="col-xs-12 col-sm-4">
    <%= image_tag "krista.jpg", class: "img-responsive" %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Krista Leigh</h2>
    <br />
    <p>
      Krista is a student at the Firehose Project. She is enjoying her studies. Prior to studying code, Krista was a fund-level accountant with a private Real Estate firm in Boston. She is hoping to change careers into web development.
    </p>
  </div>
  

</div>

<br class="clear" />
<br />
<br />
<br />
<br />




